<footer class="bg-dark text-white text-center py-4 fixed-botton mt-auto border-3 border-top border-bottom text-white border-warning">
  <div class="container">
      <p class="mb-1">Derechos de autor © 2025. Tú Agenda Web.</p>
      <p class="mb-3">
          Contáctame: 
          <a href="mailto:ezeprestes28@gmail.com" class="text-info text-decoration-none">ezeprestes28@gmail.com</a>
      </p>
     
      <div class="mt-3">
          <a href= 'https://github.com/Prestes28' target='_blank' class="text-white me-3"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/ezequiel-prestes-b27246273/" target='_blank' class="text-white me-3"><i class="bi bi-linkedin"></i></a>
      </div>
  </div>
</footer>
