
<div class='accordion my-5 p-2 mx-auto' id='accordionExample' style='max-width: 500px;'> 
    {% for contact in contacts %}
       <div class='accordion-item bg-dark border border-2 text-white border-warning my-1'>
            <h2 class='accordion-header' id='heading{{ contact.id }}'>
                <button class='accordion-button bg-dark text-white collapsed' type='button'  data-bs-toggle='collapse'
                    data-bs-target="#collapse{{ contact.id }}" aria-expanded="false" aria-controls="collapse{{ contact.id }}">
                    Contacto: {{ contact.name }}
                </button>   
            </h2>
            <div id='collapse{{ contact.id }}' class='accordion-collapse collapse'
                aria-labelledby="heading{{ contact.id }}" data-bs-parent="#accordionExample">
                <div class='accordion-body'>
                    <div class='row'>
                        <p class='col'>Apellido: {{ contact.last_name }}</p>
                        <p class='col'>Tel: {{ contact.tel1 }}</p>
                        <p class='col'>Compañía: {{ contact.company }}</p>
                    </div>
                    <a href="{% url 'edit_contact' contact.id %}" class='btn btn-warning btn-sm mx-1'>Editar</a>
                    <a href="{% url 'delete_contact' contact.id %}" class='btn btn-danger btn-sm mx-1' onclick="return confirm('¿Estás seguro de que quieres eliminar este contacto?');">Eliminar</a>
                </div>
            </div>
       </div>
    {% empty %}
        <h3 class='text-center'>No hay contactos guardados.</h3>
    {% endfor %}
</div>
