
<ul class='navbar nav mb-5 bg-dark py-2 border-bottom border-3 text-white border-warning justify-content-center  text-decoration-note '>
    <li class='nav-item mx-1 p-0 m-0'><a href="{% url 'home' %}" class='nav-link text-white'>Inicio</a></li>
    {% comment %} Contacts {% endcomment %}
    <li class='nav-item mx-1 btn btn-warning my-0 p-0'><a href="{% url 'list' %}" class='nav-link text-white p-1 m-0  '>Lista de contactos</a></li>
    <li class='nav-item mx-1 my-0 text-center '><a href="{% url 'form' %}" class='nav-link text-white p-1 m-0 '>Form Contacto</a></li>
    {% comment %} Tasks {% endcomment %}
    <li class='nav-item mx-1 btn btn-warning my-0 p-0 '><a href="{% url 'listTask' %}" class='nav-link  text-white p-1 m-0 '>Lista de Tareas</a></li>
    <li class='nav-item mx-1'><a href="{% url 'formTask' %}" class='nav-link text-white p-1 m-0 '>Form Tareas</a></li>
    {% comment %} Login y Logout {% endcomment %}
     {% if request.user.is_authenticated %}
     <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class='nav-item mx-1 btn btn-danger my-0 p-1 text-white'>Cerrar sesión</button>
      </form>
     {% else %}
     <li class='nav-item mx-1 btn btn-primary my-0 p-0 text-white'><a href='{% url 'login' %}'class=' nav-link text-white p-1 m-0 text-decoration-none'>Ingresar</a></li>
     {% endif %}
</ul>
